<html>
    <head>
        <title>StockBot</title>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js'></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='/styles.css' rel='stylesheet'/>
    </head>
    <body>

        <div id='chat'>
            <div id='title'>
                <h2>Stock Bot with Watson Conversation</h2>
            </div>                    
            <div id='chat-window'>
                <div id='output'></div>
            </div>

            <div id='sendArrow'><span id='fontAwsome'><i class="fa fa-paper-plane"></i></span></div>            
            <input id='message' type='text' value='IBM'>
            
        </div>
        <div id ='translate'>
            
    
    
    </body>
    <script src='/chat.js'></script>    
</html>
        